body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}

.header-main {
  background-color: #eeeeee;
  margin-bottom: 78px;
}

.container {
  width: 1160px;
  padding: 0 20px;
}

.visually-hidden {
  display: none;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  font-weight: 500;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 49px;
  margin-bottom: 7px;

}

.header-logo {
  width: 165px;
  height: 65px;
  display: flex;
}

.navigation-list {
  width: 440px;
  padding: 0;
  padding-top: 10px;
  padding-left: 35px;
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.navigation-item,
.basket-item {
  list-style-type: none;
  margin: 0;
}

.navigation-item a,
.basket-item a {
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
}

.basket-list {
  width: 160px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 9px;
}

.basket::before {
  content: url("../svg/header-svg/cart-icon.svg");
  width: 15px;
  height: 15px;
  padding-right: 25px;
}

.navigation-item .navigation-link:hover,
.basket-item .navigation-link:hover {
  color: #fb565a;
}

.navigation-item .navigation-link:active,
.basket-item .navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-item .current-link {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 10px;
}

.radio-input {
  width: 1160px;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

.slider {
  margin: 0 auto;
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 93px;
  z-index: 100;
  width: 160px;
  height: 30px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 71px 0 79px 0;
}


.slider-item:nth-child(1) {
  background-image: url("../img/header-img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 11px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/header-img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/header-img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;
}

.slider-item .button-width {
  padding: 16px 0px;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 84px;
}

.main-advantages {
  display: flex;
  margin: 0 auto;
  margin-bottom: 58px;
}

.advantages-list {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.advantages-item {
  width: 300px;
  padding-top: 150px;
  margin-bottom: 20px;
}

.item-1 {
  background-image: url("../img/index-img/illustration-1.jpg");
  background-repeat: no-repeat;
}

.item-2 {
  background-image: url("../img/index-img/illustration-2.jpg");
  background-repeat: no-repeat;
}

.item-2 .button {
  background-color: #00ca74;
}

.item-2 .button:hover {
  background-color: #00aa62;
}

.item-3 {
  background-image: url("../img/index-img/illustration-3.jpg");
  background-repeat: no-repeat;
}

.item-3 .button {
  background-color: #efc84a;
}

.item-3 .button:hover {
  background-color: #e5a722;
}

.advantages-item h3 {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 22px;
  text-align: left;
  margin-bottom: 16px;
}

.advantages-item p {
  margin-top: 0px;
  margin-bottom: 35px;
  vertical-align: bottom;
}

.advantages-item .button-width {
  width: 160px;
  padding: 16px 0px;
}

.about-us-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 30px;

  padding-top: 26px;
}

.about-us-wrapper::before {
  position: absolute;
  top: 0px;
  content: "";
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.main-about-us {
  width: 660px;
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.tagline {
  color: #000000;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 18px;
  margin-top: 23px;
}

.main-about-us h3 {
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 23px;
}

.order-criteria {
  padding-left: 35px;
  list-style-type: none;
}

.order-criteria li {
  position: relative;
  margin-bottom: 25px;
}

.order-criteria li::before {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  content: "";
  top: 10px;
  left: -35px;
}

.main-statistics {
  width: 360px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-top: 245px;
  background-image: url("../img/index-img/nerds-illustration.png");
  background-repeat: no-repeat;
}

.main-statistics table {
  width: 360px;
}

.main-statistics caption {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.percentages-descrpt-td {
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
  padding-top: 0px;
}

.percentages {
  color: #000000;
  line-height: 45px;
  font-size: 45px;
  font-weight: 700;
}

.percentages td {
  width: 100%;
  padding-bottom: 15px;
}

.percentages sup {
  font-size: 28px;
  margin-left: -3px;
}

.descrpt-row td {
  line-height: 18px;
  padding-top: 0px;
}

.main-contacts {
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 45px;
  margin-bottom: 15px;
}

.main-contacts::before {
  position: absolute;
  top: -30px;
  left: 20px;
  content: "";
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.main-contacts::after {
  position: absolute;
  top: 153px;
  left: 20px;
  content: "";
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.contacts-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contact-item {
  position: relative;
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.contact-item:not(:last-of-type)::before{
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  left: 278px;
}

.contact-item:first-of-type::before {
  top: 5px;
}

.contact-item:nth-of-type(2)::before {
  top: 15px;
}

.contact-item a {
  width: 100%;
  text-align: center;
}

.contacts-list img {
  opacity: 0.2;
}

.contacts-list img:hover {
  opacity: 1;
}

.contacts-list img:active {
  opacity: 0.1;
}

.main-map {
  position: relative;
  height: 416px;
}

.main-map img {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
}

iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.address-centerer {
  width: 1160px;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 55px;
  padding-left: 20px;
}

.address {
  width: 319px;
  padding-top: 50px;
  padding-bottom: 47px;
  background-color: #ffffff;
  text-align: center;
}

 .address h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: left;
}

.address p {
  color: #666666;
  line-height: 18px;
  margin-bottom: 18px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: left;
  word-wrap: break-word;
}

.address p:last-of-type {
  margin: 0;
  margin-bottom: 36px;
}

.address .button-width {
  width: 219px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 15px 0px;
}

.modal {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  color: #000000;
  background-color: #ffffff;
  bottom: 80px;
  z-index: 1000;
}

.modal-write-us {
  display: none;
  width: 760px;
  padding: 70px 100px 84px 100px;
  box-shadow: 2px 2px 70px 10px #595a5a;
}

.modal-show {
  display: flex;
  flex-direction: column;
}

.modal-write-us h2 {
  color: #000000;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 48px;
}

.wrapper-row {
  width: 760px;
  display: flex;
  justify-content: space-between;
}

.wrapper-row:first-of-type {
  margin-bottom: 20px;
}

.wrapper-row textarea {
  margin-bottom: 31px;
  resize: none;
}

.wrapper-row:not(:last-of-type) p {
  width: 360px;
}

.wrapper-row p {
  margin-top: 0px;
  line-height: 18px;
  font-weight: 700;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"],
.write-us-form textarea {
  width: 100%;
  margin-top: 12px;
  box-sizing: border-box;
  outline: none;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding: 16px 0px 18px 14px;
  font: inherit;
  font-weight: 400;
  color: #444444;
  opacity: 0.5;
  line-height: 18px;
}

.wrapper-row input:hover,
.wrapper-row textarea:hover {
  border-color: #b4b9bb;
}

.wrapper-row input:focus,
.wrapper-row textarea:focus {
  color: #444444;
  border-color: #000000;
  opacity: 1;
}

.wrapper-row input:invalid {
  border-color: #e74246;
  color: #e74246;
}

.button-close {
  position: absolute;
  top: 90px;
  left: 850px;
  font-size: 0;
  border: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
}

.button-close::before,
.button-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 1px;
  width: 20px;
  height: 4px;
  background-color: #fb565a;
  opacity: 0.3;
}

.button-close::before {
  transform: rotate(45deg);
}

.button-close::after {
  transform: rotate(-45deg);
}

.button-close:hover::before,
.button-close:hover::after {
  opacity: 1;
}

.button-close:active::before,
.button-close:active::after {
  opacity: 0.1;
}

.footer-social-media {
  display: flex;
  margin: 0 auto;
  margin-bottom: 65px;
  margin-top: 70px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-item {
  width: 260px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

.social-item .radius-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-item li:not(:nth-of-type(3n)) {
  margin-right: 10px;
  margin-bottom: 10px;
}

.social-item .radius-button:hover {
  background-color: #e74246;
}

.social-item .radius-button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 2px 0px #c13135;
}

.social-item .radius-button:active path {
  opacity: 0.3;
}

.be-friend {
  width: 760px;
  padding-top: 4px;
}

.be-friend b {
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.be-friend p {
  color: #444444;
  line-height: 22px;
  vertical-align: middle;
  margin-top: 10px;
}

.catalog-page {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

.catalog-page .header-main {
  margin-bottom: 55px;
}

.header-h1 {
  color: #000000;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 760px;
  margin-top: 79px;
  padding-bottom: 106px;
  font-size: 55px;
  line-height: 55px;
}

.catalog-page .logo:hover {
  opacity: 0.7;
}

.catalog-page .logo:active {
  opacity: 0.2;
}


.catalog-page .main-content {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.catalog-page .filter {
  width: 260px;
  margin-right: 140px;
}

.filter-group fieldset {
  border: 0;
}

.radio-item,
.checkbox-item,
.sort-by-class,
.project-screen {
  list-style-type: none;
}

.filter-group legend {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.range-list {
  padding-top: 0;
  padding-left: 0;
}

.range-list {
  margin: 0;
  padding: 0;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 55px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  font-family: "Roboto", sans-serif;
  padding: 8px 10px;
  margin-left: 6px;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.radio-list {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.radio-list legend {
  margin-bottom: 17px;
}

.radio-item {
  padding: 0;
  line-height: 20px;
}

.radio-item li {
  padding-bottom: 20px;
}

.radio-container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.radio-container:hover {
  color: #000000;
}

.radio-container input[type="radio"] + .radio-indicator {
  position: absolute;
  left: 0px;
  top: -2px;
  width : 17px;
  height: 17px;
  border-radius: 50%;
  border: 4px solid #4d4d4d;
  opacity: 0.4;
}

.radio-container input[type="radio"]:hover + .radio-indicator {
  opacity: 1;
}

.radio-container input[type="radio"]:checked + .radio-indicator::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #4d4d4d;
}
.radio-container input[type="radio"]:disabled + .radio-indicator,
.radio-container input[type="radio"]:checked:disabled + .radio-indicator,
.radio-container input[type="radio"]:disabled + .radio-indicator::before,
.radio-container input[type="radio"]:checked:disabled + .radio-indicator::before {
  opacity: 0.1;
}

.radio-container input[type="radio"]:disabled ~ .name-network,
.radio-container input[type="radio"]:checked:disabled ~ .name-network {
  opacity: 0.3;
}

.checkbox-list {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.checkbox-list legend {
  margin-bottom: 17px;
}

.checkbox-item {
  padding: 0;
  line-height: 20px;
}

.filter-checkbox {
  padding-bottom: 20px;
}

.checkbox-container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.checkbox-container:hover {
  color: #283136;
}

.checkbox-container input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: -1px;
  width: 26px;
  height: 24px;
  background-image: url("../svg/catalog-svg/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.checkbox-container input[type="checkbox"]:hover + .checkbox-indicator {
  opacity: 1;
}

.checkbox-container input[type="checkbox"]:checked + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: -1px;
  width: 26px;
  height: 24px;
  background-image: url("../svg/catalog-svg/checkbox-on.svg");
  background-repeat: no-repeat;
}

.checkbox-container input[type="checkbox"]:disabled + .checkbox-indicator,
.checkbox-container input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  opacity: 0.1;
}

.checkbox-container input[type="checkbox"]:disabled ~ .name-hand,
.checkbox-container input[type="checkbox"]:checked:disabled ~ .name-hand {
  opacity: 0.3;
}

.button-show {
  width: 260px;
  color: #000000;
  background-color: #eeeeee;
  padding: 15px 15px;
}

.button-show:hover,
.button-show:focus {
  background-color: #dfdfdf;
}

.button-show:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}


.templates-wrapper {
  display: flex;
  width: 760px;
  flex-direction: column;
}

.sort {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-bottom: 55px;
}

.sort b {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-top: 5px;
}

.sort-container {
  width: 360px;
  justify-content: space-between;
  display: flex;
}

.sort-by-class {
  width: 275px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
}

.sort-item a {
  opacity: 0.3;
  color: #000000;
}

.sort-item a:hover {
  opacity: 0.6;
}

.sort-item a:active {
  opacity: 1;
}

.sort-item .sort-item-active {
  opacity: 1;
}

.sort-by-arrow {
  width: 40px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 0;
  padding-left: 48px;
  padding-right: 2px;
}

.sort-by-arrow a path {
  fill: #231F20;
  opacity: 0.2;
}

.sort-by-arrow a:hover path {
  fill: #a6a6a6;
  opacity: 1;
}

.sort-by-arrow a:active path {
  fill: #231f20;
}

.sort-by-arrow .arrow-active path {
  opacity: 1;
}

.templates {
  width: 760px;
  display: flex;
  justify-content: space-between;
}

.project-screen {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 28px;
}

.project-item {
  position: relative;
  width: 360px;
  margin-bottom: 27px;
}

.project-item img {
  width: 360px;
  height: 576px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-top: none;
}

.browser {
  position: relative;
  display: flex;
  align-items: center;
  width: 360px;
  height: 39px;
  border: 1px solid #4d4d4d;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #4d4d4d;
  opacity: 0.1;
  box-sizing: border-box;
}

.dot-list {
  display: flex;
  justify-content: space-between;
  width: 60px;
  padding-left: 15px;
  list-style-type: none;
  margin-bottom: 15px;
}

.dot-list li::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
}

.dot-list li:nth-of-type(2)::before {
  margin-left: -7px;
}

.dot-list li:last-of-type::before {
  margin-left: -14px;
}

.description-hover {
  display: none;
  position: absolute;
  bottom: 7px;
  margin-top: 8px;
  text-align: center;
  background-color: #eeeeee;
  width: 360px;
  padding-top: 25px;
  padding-bottom: 45px;
}

.description-hover h3 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 15px;
  padding-right: 65px;
  padding-left: 60px;
}

.description-hover a {
  color: #000000;
}

.description-hover .description-info {
  margin-top: 0;
  margin-bottom: 30px;
  padding-right: 60px;
  padding-left: 60px;
  color: #666666;
  line-height: 18px;
}

.description-hover .price-item {
  margin-bottom: 0;
  margin-top: 0;
  padding-right: 60px;
  padding-left: 60px;
}

.description-hover .button {
  color: #ffffff;
  width: 200px;
  margin-left: 20px;
  font-weight: 500;
  line-height: 18px;
  padding: 15px 0px;
}

.description-hover .button-bg:active {
  color: #ffffff;
}

.project-item:hover .browser {
  opacity: 1;
}

.project-item:hover .description-hover {
  display: block;
  position: absolute;
  bottom: 7px;
  margin-top: 8px;
  text-align: center;
  background-color: #eeeeee;
  width: 360px;
  padding-top: 25px;
  padding-bottom: 45px;
}

.main-pages {
  width: 760px;
  margin-bottom: 55px;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  min-height: 50px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.pages li {
  display: flex;
  min-width: 50px;
  min-height: 50px;
  margin: 0;
  margin-right: 11px;
}

.pages a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 18px;
  font-weight: 500;
}

.page-button {
  padding: 16px 20px 14px 20px;
  background-color: #eeeeee;
  border-radius: 2px;
  line-height: 18px;
}

.page-current {
  padding: 13px 17px 12px 17px;
  border: 3px solid #dbdbdb;
  background-color: #eeeeee;
  border-radius: 2px;
  background-color: #ffffff;
}

.page-current:active {
  border: none;
  padding: 16px 20px 14px 20px;
  border-radius: 2px;
}

.page-button:hover {
  background-color: #dfdfdf;
}

.page-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 2px 0px #bfbfbf;
  color: rgba(0, 0, 0, 0.3);
}

.page-next {
  padding: 17px 77px 14px 77px;
}

.catalog-page .address-centerer {
  padding-top: 54px;
  padding-bottom: 54px;
}

.address-catalog-page h3 {
 font-size: 18px;
 line-height: 30px;
 font-weight: 700;
 margin-top: 0;
 text-transform: uppercase;
 margin-bottom: 20px;
 padding-right: 50px;
 padding-left: 50px;
 text-align: left;
}

.address-catalog-page p {
 color: #666666;
 line-height: 18px;
 margin-bottom: 18px;
 padding-right: 50px;
 padding-left: 50px;
 text-align: left;
 word-wrap: break-word;
}

.catalog-page .footer-social-media {
  margin-top: 68px;
}

.be-friend-catalog-page {
  padding-top: 4px;
}

.be-friend-catalog-page p{
  margin-top: 10px;
}
