body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

.header-main {
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.basket::before {
  content: url("../svg/header-svg/cart-icon.svg");
  padding-right: 25px;
}

.navigation-list,
.basket-list {
  list-style-type: none;
}

.navigation-item .navigation-link,
.basket-item .navigation-link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
}

.navigation-item .navigation-link:hover,
.basket-item .navigation-link:hover {
  color: #fb565a;
}

.navigation-item .navigation-link:active,
.basket-item .navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-item .current-link {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 10px;
}

.h2-description {
  color: #000000;
  font-size: 55px;
  line-height: 55px;
}

.p-description {
  color: #283136;
}

.header-description a {
  padding: 15px 65px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 18px;
}

.header-description .button-bg {
  background-color: #fb565a;
}

.header-description a:hover {
  background-color: #e74246;
}

.header-description a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 2px 0px #c13135;
}

header .slider-1 {
  background-image: url("../img/header-img/slide1.png");
}

header .slider-2 {
  background-image: url("../img/header-img/slide2.png");
}

header .slider-3 {
  background-image: url("../img/header-img/slide3.png");
}

header .slider-1,
header .slider-2,
header .slider-3 {
  background-repeat: no-repeat;
}

.section-wrapper .hidden {
  display: none;
}

.slider-indicator li {
  display: inline-block;
  list-style-type: none;
}

main h1.visually-hidden {
  display: none;
}

.advantages-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item p {
  color: #283136;
}

.advantages-list {
  list-style-type: none;
}

.advantages-list .item-1 {
  background-image: url("../img/index-img/illustration-1.jpg");
}

.advantages-list .item-2 {
  background-image: url("../img/index-img/illustration-2.jpg");
}

.advantages-list .item-3 {
  background-image: url("../img/index-img/illustration-3.jpg");
}

.advantages-list .item-1,
.advantages-list .item-2,
.advantages-list .item-3 {
  background-repeat: no-repeat;
}

.advantages-item a {
  padding: 15px 40px;
  color: #ffffff;
  text-decoration: none;
  background-color: #fb565a;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 500;
}

.advantages-item:first-of-type a:hover {
  background-color: #e74246;
}

.advantages-item:first-of-type a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 2px 0px #c13135;
}

.advantages-item:nth-of-type(2) a {
  background-color: #00ca74;
}

.advantages-item:nth-of-type(2) a:hover {
  background-color: #00bc6c;
}

.advantages-item:nth-of-type(2) a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  box-shadow: inset 0px 3px 2px 0px #009958;
}

.advantages-item:last-of-type a {
  background-color: #efc84a;
}

.advantages-item:last-of-type a:hover {
  background-color: #eab534;
}

.advantages-item:last-of-type a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: inset 0px 3px 2px 0px #ce961f;
}

.tagline {
  color: #000000;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.main-about-us p {
  color: #283136;
}

.main-about-us h3 {
  color: #000000;
  text-transform: uppercase;
}

.order-criteria {
  color: #283136;
}

.main-statistics {
  background-image: url("../img/index-img/nerds-illustration.png");
  background-repeat: no-repeat;
}

.main-statistics caption {
  color: #000000;
  font-weight: bold;
}

table .percentages {
  color: #000000;
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
}

table .descrpt-row {
  color: #283136;
  line-height: 18px;
}

.contacts-list {
  list-style-type: none;
}

.contacts-list img {
  opacity: 0.2;
}

.contacts-list img:hover {
  opacity: 1;
}

.contacts-list img:active {
  opacity: 0.1;
}

.address h3 {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
}

.address p {
  color: #666666;
  line-height: 18px;
}

.address .write-us {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 45px;
  color: #ffffff;
  background-color: #fb565a;
  line-height: 18px;
  font-weight: 500;
}

.address .write-us:hover {
  background-color: #e74246;
}

.address .write-us:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 2px 0px #c13135;
}

.modal-write-us h2 {
  color: #000000;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.wrapper-row label {
  color: #000000;
  line-height: 18px;
  font-weight: bold;
}

.wrapper-row input {
  border: 2px solid #d7dcde;
  border-radius: 2px;
  outline: none;
}

.wrapper-row input:hover {
  border-color: #b4b9bb;
}

.wrapper-row input:focus {
  border-color: #000000;
}

.wrapper-row input:invalid {
  border-color: #e74246;
  color: red;
}

.wrapper-row textarea {
  border: 2px solid #d7dcde;
  border-radius: 2px;
  outline: none;
}

.wrapper-row textarea:hover {
  border-color: #b4b9bb;
}

.wrapper-row textarea:focus {
  border-color: #000000;
}

.wrapper-row textarea:invalid {
  border-color: #e74246;
}

.modal-write-us .send-off {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  line-height: 18px;
  font-weight: 500;
  border: 1px solid #fb565a;
  border-radius: 1px;
  padding: 10px 40px;
}

.modal-write-us .send-off:hover {
  background-color: #e74246;
}

.modal-write-us .send-off:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 2px 0px #c13135;
}

.modal-write-us .button-close {
  width: 25px;
  height: 25px;
  background-image: url("../svg/footer-svg/close-cross.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.modal-write-us .button-close:hover {
  opacity: 1;
}

.modal-write-us .button-close:active {
  opacity: 0.1;
}

.social ul {
  text-decoration: none;
  list-style-type: none;
}

.social-item .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-item .button:hover {
  background-color: #e74246;
}

.social-item .button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 2px 0px #c13135;
}

.social-item .button:active path {
  opacity: 0.3;
}

.be-friend b {
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.be-friend p {
  color: #444444;
  line-height: 22px;
}

.catalog-page {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

.catalog-page .header-h1 {
  color: #000000;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.catalog-page .logo:hover {
  opacity: 0.7;
}

.catalog-page .logo:active {
  opacity: 0.2;
}

.filter-group fieldset:first-of-type,
.filter-group fieldset:nth-of-type(2),
.filter-group fieldset:last-of-type {
  border: none;
}

.filter-group legend {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.range-div {
  background-color: #eeeeee;
}

.wrapper-from label,
.wrapper-before label {
  color: #283136;
  line-height: 22px;
  text-transform: uppercase;
}

.wrapper-from input,
.wrapper-before input {
  background-color: #eeeeee;
}

.radio-item {
  list-style-type: none;
}

.radio-item .filter-radio {
  display: block;
}

.filter-radio label {
  color: #283136;
  line-height: 20px;
}

.filter-radio input {
  opacity: 0.4;
}

.filter-radio input:hover {
  opacity: 1;
}

.checkbox-item {
  list-style-type: none;
}

.checkbox-item .filter-checkbox {
  display: block;
}

.filter-checkbox label {
  color: #283136;
  line-height: 20px;
}

.filter-checkbox input {
  opacity: 0.4;
}

.filter-checkbox input:hover {
  opacity: 1;
}

.filter-group .button {
  color: #000000;
  padding: 10px 65px;
  line-height: 18px;
  font-weight: 500;
  background-color: #eeeeee;
  text-transform: uppercase;
  border: 2px solid #eeeeee;
  border-radius: 2px;
}

.filter-group .button:hover {
  background-color: #dfdfdf;
}

.filter-group .button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 2px 0px #bfbfbf;
  color: rgba(0, 0, 0, 0.3);
}

.sort b {
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.sort-by-class {
  list-style-type: none;
}

.sort-by-class li {
  display: inline-block;
}

.sort-by-class a {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-by-class a:hover {
  opacity: 0.6;
}

.sort-by-class a:active {
  opacity: 1;
}

.sort .arrow-down {
  background-image: url("../svg/catalog-svg/icon-down-dir.svg");
}

.sort .arrow-up {
  background-image: url("../svg/catalog-svg/icon-up-dir.svg");
}

.sort .arrow-down,
.sort .arrow-up {
  background-repeat: no-repeat;
}

.sort a {
  color: #000000;
  opacity: 0.3;
}

.sort a:hover {
  opacity: 0.6;
}

.sort a:active {
  opacity: 1;
}

.description-hover {
  background-color: #eeeeee;
}

.project-item {
  list-style-type: none;
}

.description-hover h3 {
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.description-hover p {
  color: #666666;
  line-height: 18px;
}

.price-item a {
  color: #ffffff;
  line-height: 18px;
  font-weight: 500;
  padding: 15px 65px;
  background-color: #fb565a;
  text-decoration: none;
}

.price-item a:hover {
  background-color: #e74246;
}

.price-item a:active {
  color: rgb(255, 255, 255);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 2px 0px #c13135;
}

.pages {
  list-style-type: none;
}

.pages a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.pages li {
  display: inline;
}

.page-button {
  padding: 18px 21px;
  background-color: #eeeeee;
  border-radius: 2px;
  line-height: 18px;
  font-weight: 500;
}

.page-current {
  padding: 15px 21px;
  border: 3px solid #dbdbdb;
  border-radius: 2px;
  background-color: #ffffff;
}

.page-current:active {
  border: none;
  padding: 18px 24px;
  border-radius: 2px;
}

.page-next {
  padding: 18px 77px;
}

.page-button:hover {
  background-color: #dfdfdf;
}

.page-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 2px 0px #bfbfbf;
}

.visually-hidden {
  display: none;
}

.container {
  width: 1160px;
}

.header-nav {
  display: flex;
  margin: 0px auto;
  padding-top: 50px;

}

.header-logo {
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  width: 440px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  padding-top: 15px;
  flex-wrap: wrap;
}

.basket-list {
  display: flex;
  width: 160px;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
  flex-wrap: wrap;
}

.section-wrapper {
  display: flex;
  height: 410px;
  margin: 0 auto;
}

.main-advantages {
  display: flex;
  margin: 0 auto;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0px;
  margin-right: 100px;
  align-items: flex-start;
}

.about-us-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  padding-top: 40px;
  padding-bottom: 75px;
}

.main-about-us {
  display: flex;
  flex-direction: column;
  width: 660px;
}

.main-statistics {
  display: flex;
  width: 360px;
  flex-direction: column;
}

.main-contacts {
  display: flex;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 45px;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 45px;
}

.contacts-list {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.contacts-list li {
  width: 260px;
  margin-right: 40px;
}

.footer-social-media {
  display: flex;
  margin: 0 auto;
  margin-bottom: 65px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-item {
  width: 260px;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.be-friend {
  width: 760px;
}

.catalog-page .header-main {
  margin-bottom: 55px;
}

.header-h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 760px;
  margin-top: 70px;
  padding-bottom: 105px;
  padding-top: 10px;
}

.catalog-page .main-content {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.filter {
  display: flex;
  width: 25%;
  align-items: flex-start;
  margin-right: 140px;
}

.catalog-page .templates-wrapper {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.sort {
  display: flex;
  align-items: center;
  width: 760px;
  justify-content: space-between;
  margin-bottom: 55px;
}

.sort-by-class {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.arrow-wrapper {
  display: flex;
  width: 60px;
  justify-content: center;
}

.browser {
  display: flex;
  width: 360px;
  height: 40px;
}

.dot-list {
 display: flex;
}

.dot-list li {
  margin-right: 10px;
}

.templates {
  display: flex;
  width: 760px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.project-screen {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.project-item {
  width: 360px;
}

.main-pages {
  display: flex;
  width: 760px;
  justify-content: flex-start;
  margin-bottom: 60px;
}

.pages {
  padding: 0;
}
